.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.log
android_current*.png
android_screen*.png

android/.gradle/
android/app/debug
android/app/profile
android/app/release

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

*.iml
.idea/
.vscode/
